*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'mixures.scss';
@import 'color.scss';
@import "login&signUp.scss";
@import "home.scss";
@import "loading.scss";
@import "error.scss";


.body{
  @include configWithHieight(100vw,100vh);
  overflow-y: auto;
  @include configScrollBar();
  background-color: $theme-1-bg-color;
  color: $text-color;
}

.header{
  @include configWithHieight(100%,10%);
  background: transparent;
  backdrop-filter: $header-bd-filter;
  @include configFlex(space-between);
  > .logo{
    @include configWithHieight(50px,50px);
    border-radius: 50%;
    margin-left: 0.5rem;
  }
  >.logout{
    @include configWithHieight(20%,100%);
    text-align: right;
    margin-right: 0.5rem;
    @include configFlex(end,center,row,2rem);
    > button{
      @include configButton(0.8rem,5px,$button-bg-color);
      font-weight: bold;
    }
  }
}

.container{
  @include configWithHieight(100%,90%);
  @include configFlex(flex-start,center,column);
}
#image{
  @include configWithHieight();
  object-fit: contain;
}