$theme-1-bg-color: rgb(0, 0, 0);
$header-bd-filter: blur(1rem);

// $theme-2-bg-color: #4158D0;
// $theme-2-bg-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

// $theme-3-bg-color: #8EC5FC;
// $theme-3-bg-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

// $theme-4-bg-color: #8BC6EC;
// $theme-4-bg-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


$isCompleted-true-bg-color: rgba(137, 255, 107, 0.759);
$isCompleted-false-bg-color: rgb(255, 0, 0);

$text-color: #fff;
$text-secondary-color: red;
$text-color-hover: #e3e3e3;

$button-bg-color: red;



