@import "./color.scss";

@mixin configWithHieight($w:100%,$h:100%){
    width: $w;
    height: $h;
}

@mixin configFlex($jc:center,$al:center,$fd:row,$gap:0rem){
    display: flex;
    justify-content: $jc;
    align-items: $al;
    flex-direction: $fd;
    gap: $gap;
}

@mixin configButton($p:0rem,$br:none,$bg:$button-bg-color,$c:$text-color){
    outline: none;
    border: none;
    padding:$p;
    border-radius: $br;
    background-color: $bg;
    color: $c;
}

@mixin configInput($w:auto,$h:auto,$p:none,$br:none,$f:none){
    @include configWithHieight($w,$h);
    padding: $p;
    border-radius: $br;
    background: transparent;
    color: $text-color;
    font-size: $f;
    border: 2px solid $text-color;
}

@mixin configScrollBar(){
    ::-webkit-scrollbar{
        display: none;
    }
}